{% for cc in cl   %}

    {{ cc.libelle }} : <a href="{{ path('ajoutla', {'id': cc.id }) }}">Enregistrer absence</a>
    <a href="{{ path('affichela', {'id': cc.id }) }}">Afficher les cas d'absence</a>
    <br>


{% endfor %}