{% extends 'Front/home.html.twig' %}
{% block content %}
    <table border="1">
        <tr>

            <td> libelle</td>
        <td> Emploi</td>


        </tr>

        {% for ee in e %}
        <tr>

            <td>{{ ee.libelle }}</td>

            <td> <a href={{ path('afficherEmploi_classe',{'id':ee.id} )}}> Afficher Emploi!!</a></td>

            {% endfor %}

    </table>
    <br>     <br>
    <br>


{% endblock %}