{% extends 'Front/accueil.html.twig' %}
{% block rec %}
    <table class="table table-striped"    >
        {{ form_start(f) }}
        <tr style="background-color: #49bdb9">

            <td><b>Message</b> : </td>
            <td>{{ form_widget(f.message) }}</td>

        </tr>

        <tr>
            <td></td>
            <td>{{ form_widget(f.Ajouter, { 'attr': {'class': 'btn btn-info  '}} ) }}</td>

            {{ form_end(f) }}
    </table>

<script>
$('#recbundle_recparent_parent').hide();
$('.required').hide();
</script>
{% endblock %}