
#impression{
    display : none;

}
.bs{
    display : none;

}

.search-box{
    display : none;

}

.clearfix{
    display : none;

}
.clear-fix{
    display : none;

}
.user-name{
    display : none;

}
.footer{
    display : none;

}



.profile_img{
    display : none;

}

.dropdown head-dpdn{
    display: none;
}

.nofitications-dropdown{

    display: none;
}

#showLeftPush{
    display:none
}

#bm
{

    display: none;
}